.footer{
    background-color: #444444;
    color: #fff;
    padding: 3em;
    text-align: center;

}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list a{
    margin: 0 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    border: 1px solid white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow:
        0 -1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 rgba(255, 255, 255, 0.2);
    font-size: 20px;
}

.social_list .link:hover {
    /* background-clip:text; */
    border: 1px solid white;
    color: white;
    transform: scale(1.1);
    
  }


.social_list span{
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  
  .social_list .link.instagram {
    background-color: #e4405f;
    color: white;

  }

  /* Adiciona a bandeira do Brasil */
.social_list .link.instagram::after {
  content: "";
  background-image: url('../img/flag/brazil.png');
  background-size: cover;
  position: absolute;
  width: 15px; /* Ajuste o tamanho conforme necessário */
  height: 10px; /* Ajuste o tamanho conforme necessário */
  bottom: 10px; /* Ajuste a posição conforme necessário */
  left: 10px; /* Ajuste a posição conforme necessário */
  border-radius: 2px;
}
  
  .social_list .link.whats {
    background-color: #25D366;
    color: white;
  }
  
  .social_list .link.facebook {
    background-color: red;
    color: white;
  }
  
  .social_list .link.linkedin {
    background-color: #0077B5;
    color: white;
  }


  .legal_notice{
    margin-top: 3em;
    cursor: pointer;
  }
  .legal_notice:hover{
    border-bottom: 1px solid white;
  }
.copy_right{
    margin-top: 3em;
}

.copy_right span{
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 480px){
    .social_list .link {
        width: 60px;
        height: 60px;
        font-size: 18px;
      }
}
