.contents_sections{
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;

}

.box_1 {
    background-image: url(../img/foto_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    font-family: "Poppins", sans-serif;

}
.box_2 {
    background-image: url(../img/foto_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
    gap: 24px;
    font-family: "Poppins", sans-serif;

}
.box_3 {
    background-image: url(../img/foto_7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    font-family: "Poppins", sans-serif;

}


.textos{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    color: white;
    text-align: left;
    width: 40%;
    margin-right: 150px;
}

.textos h1{
    margin: 0;
    font-size: 56px;
    /* background-color: #444444; */
    padding: 0 10px;
    border-radius: 4px;
}
.textos h2{
    margin: 0;
    font-size: 36px;
    /* background-color: #444444; */
    padding: 0 10px;
    border-radius: 4px;
}

.textos p{
    font-size: 20px;
    /* background-color: #444444; */
    padding: 10px;
    line-height: 1.6;
    border-radius: 6px;
}



.imagem {
    width: 30%;
    
}


@media screen and (max-width: 800px){

    .box_2 {
        padding-left: 10px;
    
    }
    
    
    .textos{
        width: 100%;
        margin-right: 0px;
    }
    
    .textos h1{
        margin: 0;
        font-size: 36px;
        background-color: #444444;
        padding: 0 5px;
    }
    .textos h2{
        margin: 0;
        font-size: 36px;
        background-color: #444444;
        padding: 0 5px;
    }
    
    .textos p{
        font-size: 16px;
        background-color: #444444;
        padding: 0 5px;
    }
    
    
    
    .imagem {
        width: 30%;
        
    }
    
    
}











